*{
    grid-gap: 0px;
}
.puzzle{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas: 
    "p6 p8 p5"
    "p9 p3 p1"
    "p2 p4 p7";
}
#piece1{
    grid-area: p1;
}
#piece2{
    grid-area: p2;
}
#piece3{
    grid-area: p3;
}
#piece4{
    grid-area: p4;
}
#piece5{
    grid-area: p5;
}
#piece6{
    grid-area: p6;
}
#piece7{
    grid-area: p7;
}
#piece8{
    grid-area: p8;
}
#piece9{
    grid-area: p9;
}
.piece{
 width: max-content;
 height: max-content;
}
.source{
    font-size: 20px;
}